include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include portugal_compliance_app *.css
recursive-include portugal_compliance_app *.csv
recursive-include portugal_compliance_app *.html
recursive-include portugal_compliance_app *.ico
recursive-include portugal_compliance_app *.js
recursive-include portugal_compliance_app *.json
recursive-include portugal_compliance_app *.md
recursive-include portugal_compliance_app *.png
recursive-include portugal_compliance_app *.py
recursive-include portugal_compliance_app *.svg
recursive-include portugal_compliance_app *.txt
recursive-exclude portugal_compliance_app *.pyc

